# --- OS, IDE 공통 ---
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/

# --- Java 빌드 산출물 ---
target/
*.class

# --- 로그 파일 ---
logs/
*.log

# --- Eclipse ---
.settings/
*.classpath
*.project

# --- Maven wrapper ---
!mvnw
!mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# --- 기타 ---
out/