<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.web.mapper.SearchListMapper">

<insert id="insertSearchResult" parameterType="com.project.web.dto.SearchListDTO">
	INSERT INTO SEARCH_LIST_CACHE (
        CORP_NAME,
        STOCK_TYPE,
        KEYWORDS_JSON,
        MAJOR,
        CORP_CODE,
        GPT_SUMMARY
    ) VALUES (
        #{corpName, jdbcType=VARCHAR},
        #{stockType, jdbcType=VARCHAR},
        #{keywords, jdbcType=CLOB, typeHandler=com.project.web.handler.JsonTypeHandler},
        #{major},
        #{corpCode},
        #{gptSummary, jdbcType=CLOB}
    )
</insert>

<select id="selectByCorpName" parameterType="String" resultType="com.project.web.dto.SearchListDTO">
    SELECT
        CORP_NAME AS corpName,
        STOCK_TYPE AS stockType,
        KEYWORDS_JSON AS keywords,
        MAJOR AS major,
        CORP_CODE AS corpCode,
        GPT_SUMMARY AS gptSummary
    FROM SEARCH_LIST_CACHE
    WHERE CORP_NAME LIKE '%' || #{corpName} || '%'
</select>



</mapper>
