<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.web.mapper.TargetColMapper">

  <!-- 대표 컬럼 전체 조회 -->
  	<select id="selectAllTargetCols" resultType="com.project.web.vo.TargetColVO">
    SELECT 
	TARGET_COL_IDX AS targetColIdx,
    TARGET_COL_NAME AS targetColName,
    DESCRIPTION AS description,
    CREATED_AT AS createdAt
    FROM TARGET_COL
    ORDER BY TARGET_COL_IDX
	</select>

</mapper>
