<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.web.mapper.TestMapper">
	<select id="testSelect" resultType="com.project.web.model.TestModel">
		select * from MEMBER where id=1
	</select>
	
	<insert id="testInsert" parameterType="com.project.web.model.TestModel">
		insert into member values(4, #{name}, #{email})
	</insert>
</mapper>