/* Pretendard 폰트 cdn */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* SB 어그로 폰트 선언 */
@font-face {
  font-family: 'SB어그로';
  src: url('./assets/fonts/SB\ 어그로OTF\ M.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SB어그로';
  src: url('./assets/fonts/SB\ 어그로OTF\ L.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SB어그로';
  src: url('./assets/fonts/SB\ 어그로OTF\ B.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body, * {
  margin: 0;
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
